# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/
ENV/
myenv/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
*.egg

# Python cache
*.cache/
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# PyCharm settings
.idea/

# Environment variables file
*.env
*.dotenv

# OS files
.DS_Store
Thumbs.db

# Local SQLite database files
*.sqlite3
